name: CI
on:
  push:
    branches: master
  schedule:
    - cron:  '0 */3 * * *'
jobs:
  
    
    kernels:
      name: Build all changed kernels in beta repository
      runs-on: [self-hosted, Linux, x64]

      steps:

        - name: Checkout Armbian build script
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
            repository: armbian/build
            path: build
            ref: nightly
            clean: false

        - name: Checkout Armbian support scripts
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
            repository: armbian/scripts
            token: ${{ secrets.PAT }}
            path: scripts
            clean: false

        - run: |
            cd build
            #sudo sed -i "s/-it --rm/-i --rm/" userpatches/config-docker.conf
            ./compile.sh KERNEL_ONLY="yes" BOARD="bananapi" BRANCH="current" KERNEL_CONFIGURE="no" USE_TORRENT="no" REPOSITORY_INSTALL="kernel" 'prepare_host'
            #mkdir -p cache/hash-beta
            sudo rsync -ar ../scripts/hash-beta/* cache/hash-beta/
            # debug
            sudo rsync -ar ../patch/* lib/
            [[ ! -f .ignore_changes ]] && sudo touch .ignore_changes
            sudo cp ../scripts/configs/* userpatches/
            sudo rm -f userpatches/targets.conf
            #sudo sed -i "s/-it --rm/-i --rm/" userpatches/config-docker.conf
        - name: Run script
          shell: bash {0}
          run: |
            cd build
            run-one ./compile.sh all-new-beta-kernels
            #sudo rsync -ar cache/hash-beta/* ../scripts/hash-beta/

        - name: Install SSH key for repository
          uses: shimataro/ssh-key-action@v2
          with:
            key: ${{ secrets.KEY_FOR_REPOSITORY }}
            name: id_repository # optional
            known_hosts: ${{ secrets.KNOWN_HOSTS_REPOSITORY }}
            if_key_exists: replace

        - run: |
            sudo apt-get -y -qq install lftp
            pwd
            lftp -u upload, -e "set net:timeout 4;set net:max-retries 6;mirror --Remove-source-files -R --parallel=8 --no-perms $(pwd)/build/output/debs-beta/ . ;bye" sftp://users.armbian.com

    repository:
      name: Update repository
      needs: kernels 
      runs-on: [self-hosted, Linux, x64]
      steps:
        - name: Install SSH key for repository
          uses: shimataro/ssh-key-action@v2
          with:
            key: ${{ secrets.KEY_FOR_REPOSITORY }}
            name: id_repository # optional
            known_hosts: ${{ secrets.KNOWN_HOSTS_REPOSITORY }}
            if_key_exists: replace
        - name: Update repository
          run: ssh -i ~/.ssh/id_repository ${{ secrets.USER_REPOSITORY }}@${{ secrets.SSH_HOST }}


    finish:
      name: Cleaning
      needs: kernels
      runs-on: [self-hosted, Linux, x64]
      steps:
        - name: Run script
          shell: bash {0}
          run: |
            echo "xxxx"
